@import "tailwindcss";
:root {
  color-scheme: dark;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  background-color: #020617; /* slate-950 */
  color: white;
  font-family: Inter, sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  cursor: pointer;
}

